@use "../variables/variables";
@use '@angular/material' as mat;

html {
  .mat-mdc-tab {
    background-color: var(--mat-sys-surface-container-lowest);
    padding: 0 30px;
  }

  .mat-mdc-tab-labels {
    box-shadow: var(--box-shadow-lg);
  }

  .mat-mdc-tab-body-wrapper {
    background-color: var(--mat-sys-surface-container-lowest);
    box-shadow: var(--box-shadow-lg);
    padding: var(--spacing-md);
  }

  @include mat.tabs-overrides((active-label-text-color: variables.$primary-color,
      background-color: variables.$primary-color,
      inactive-hover-label-text-color: variables.$primary-color,
      active-indicator-height: 3px,
      inactive-focus-label-text-color: variables.$primary-color,
      active-hover-label-text-color: variables.$primary-color,
      active-focus-label-text-color: variables.$primary-color,
      active-ripple-color: variables.$primary-color));
}