@use 'breakpoints';

:host {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  border-bottom: 3px solid var(--mat-sys-primary);
  margin-bottom: var(--spacing-sm);
  margin-top: var(--spacing-lg);
}

.equipment-name {
  font-weight: bold;
}

.employee-details {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: repeat(1, 1fr);

  @include breakpoints.md-min {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
  }
}

.label {
  color: var(--mat-sys-outline);
  width: 120px;
  display: inline-block;
}
