mat-toolbar {
  box-shadow: var(--box-shadow-sm);
  z-index: 2;
  position: relative;
}

.dashboard-container {
  min-height: calc(100% - 64px);
}

.dashboard-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  padding: var(--spacing-lg);
}

.dashboard-sidenav {
  padding: var(--spacing-sm);
}