* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;

  --box-shadow-sm: 0px 2px 6px rgba(0, 0, 0, 0.175);
  --box-shadow-lg: 0 0rem 1rem rgba(0, 0, 0, 0.175);

  --color-green: #009000;
}